@import url('https://fonts.googleapis.com/css?family=Kaushan+Script');
.carousel-control.left,.carousel-control.right {background-image:none;}
#slide1 { }
#slide1:hover {filter:invert(100%);}
.img-responsive {width:100%;}
.cd{display:block;
    position: relative;
    -webkit-transition: all 200ms ease-in;
    -webkit-transform: scale(1); 
    -ms-transition: all 200ms ease-in;
    -ms-transform: scale(1); 
    -moz-transition: all 200ms ease-in;
    -moz-transform: scale(1);
    transition: all 200ms ease-in;
    transform: scale(1); }
		.cd:hover{
    z-index: 2;
    -webkit-transition: all 200ms ease-in;
    -webkit-transform: scale(1.2);
    -ms-transition: all 200ms ease-in;
    -ms-transform: scale(1.2);   
    -moz-transition: all 200ms ease-in;
    -moz-transform: scale(1.2);
    transition: all 200ms ease-in;
    transform: scale(1.2);}		

.divb { font-family: 'Kaushan Script', cursive; 
  position: relative;
  z-index: 1;background-color:rgba(0,0,0,0.7) !important;
}

.divb::before {filter:blur(0px);
  content: "";
  position: absolute;
  top: 0; 
  left: 0;
  width: 100%; 
  height: 100%;  
  opacity: 0.3; 
  z-index: -1;
  background: url("../../../resources/images/3630-bring-it-on.jpg") no-repeat center center fixed;
  background-size:cover;
}
.diva {
  position: relative;
  z-index: 1;background-color:rgba(0,0,0,0.4) !important;
}
.diva::before {
  content: "";
  position: absolute;
  top: 0; 
  left: 0;
  width: 100%; 
  height: 100%;  
  opacity: 0.3; 
  z-index: -1;
  background: url("../../../resources/images/festival.jpg") no-repeat center center fixed;
  background-size:cover;
}
@media(max-width:786px){
div font, div font i {font-size:25px;}
div h1{font-size:20px;} 
.p{font-size:20px;text-align:justify !important;}}

@media(max-width:480px){
div font, div font i {font-size:25px;}
div h1{font-size:20px;} 
.p{font-size:18px;}}

#features {text-align:center;margin-top:25px;margin-bottom:25px;}
#features img {margin: 5px 0px 10px;}

#myCarousel .carousel-indicators li,
#myCarousel .carousel-indicators li.active {

  width: 8px;
  height: 8px;
 
}

@media(max-width:480px){
			
		   	.carousel-inner > .item > img,
			.carousel-inner > .item > a > img {
			width: 100%;
			height:auto;
			margin:auto;
			}
			   #myCarousel .carousel-indicators li,
    #myCarousel .carousel-indicators li.active {
      width: 4px;
      height: 4px;
			}
@media(max-width:768px){
			
			.carousel-inner > .item > img,
			.carousel-inner > .item > a > img {
			width: 100%;
			height:auto;
			margin:auto;
			}}
@media(min-width:768px){
		
	     		.carousel-inner > .item > img,
			.carousel-inner > .item > a > img {
			width: 100%;
			height:auto;
			margin:auto:			
			}}
	